


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-primaria: #0D6EFD;
    --cor-secundaria: #004ab8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Quicksand", sans-serif;
}
